<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">!QAZ2wsx</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Automatically create/update tables -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Specify annotated classes -->
        <mapping class="org.example\Rectangle"/>
        <mapping class="org.example\Triangle" />
        <mapping class="org.example\Shape" />
        <mapping class="org.example\Color" />
    </session-factory>
</hibernate-configuration>